<%- include('../partials/navbar')%>
    <section id="main">
        <div class="container-lg">
            <div class="row justify-content-start ps-3 pe-3">
                <% data.forEach((d) => { %>
                <div class="card mt-2">
                    <a class="text-decoration-none" href="/skills/<%=d.id%>" ><span class="display-5 text-secondary"><%=d.skill%></span></a>
                    <h6>Insights:</h6>
                    <p><%= d.private ? 'Private' : d.bio %></p>
                </div>
                <% }) %>
                <a  type="button" class="btn btn-outline-primary mt-2" href="/skills/new">Add Another Skill</a>
            </div>
        </div>
    </section>
<%- include('../partials/footer')%>